
<div class="container">
    <div class="row">
        <div class="mx-auto col-12">
            
        　　<h1 class="p-0 m-0">welcome to <i class="fa-solid fa-book"></i><strong>Bookers</strong>!!</h1>
        　　<p class="p-0 m-0">in <i class="fa-solid fa-book"></i><strong>Bookers</strong>,</p><br>
        　　<p class="p-0 m-0">you can share and exchange your opinions,inpressions,and emoions</p><br>
        　　<p class="p-0 m-0">about various books!</p>

            <div class="btn-wrapper col-10 mx-auto">
            <div class="row">
            　　<a class="btn btn-info btn-sm btn-block" href="/users/sign_in" >Log_in</a>
            </div>
           
            <div class="row">
            　　<a class="btn btn-success btn-sm btn-block" href="/users/sign_up">Sign_up</a>
            </div>
            </div>
      
        </div>
    </div>
</div>

